@import "../../../styles/common.scss";

.container {
  @include content_center;
  border: none; 
  outline: none; 
  cursor: pointer; 
  width: 1.125rem;
  height: 1.125rem;
  transition: background-color 0.3s ease;
  position: relative;
  background-color: transparent;
}

.selected {
  background-color: #6d78d559;
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.1rem;
}
