* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  &::-webkit-scrollbar {
    display: none;
  }
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;

  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
  background-color: #ededed;

  &::-webkit-scrollbar {
    display: none !important;
  }
}

.tiptap pre {
  background: #2E2B29;
  border-radius: .5rem;
  color: white;
  margin: 1.5rem 0;
  padding: .75rem 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}