$g100: #F5F5F580;
$g150: #f5f5f5ac;
$g200: #6C6F75;
$g300: #94989E;
$g400: #f5f5f5a0;

$g500: #6c6f756f;

$red: #eb5757;


$pillBorderBg: #DFE1E4;
$pillBg: #dfe1e40f;

$divider: #DFE1E499;

$buttonBg: #533BE5;


